<%- include('../components/admin/admin.header.ejs')  -%>
<%- include('../components/navbar.ejs') -%>

<h1>hello admin</h1>
<%- include('../components/admin/admin.footer.ejs') %>
<%- include('../components/ender.ejs') %>