<button class="btn btn-success rounded-circle position-fixed bottom-0 end-0 m-3 z-3 d-lg-none" id="menu-toggle" style="width: 56px; height: 56px;">
  <i class="bi bi-list fs-4"></i>
</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/framework.js"></script>
<script src="/assets/js/script.js"></script>
</body>

</html>